asyncio==3.4.3
openai==1.35.3
Pillow==10.4.0
pywavelets==1.4.1
mss==9.0.1
pygetwindow==0.0.9
python-dotenv==1.0.1
pywin32==306
pyaudio==0.2.13
logging
psutil==6.0.0
accelerate==0.34.0
cached_path==1.6.3
click==8.1.7
datasets==3.0.0
einops==0.8.0
einx==0.3.0
ema_pytorch==0.7.0
gradio==4.44.1
jieba==0.42.1
librosa==0.10.0
matplotlib==3.7.2
numpy==1.26.4
pydub==0.25.1
pypinyin==0.49.0
safetensors==0.4.4
soundfile==0.12.1
tomli==2.0.1
torchdiffeq==0.2.3
tqdm==4.66.5
transformers==4.44.2
vocos==0.1.0
wandb==0.17.0
x_transformers==1.39.1
